.todo-list-container {
  max-width: 550px;
  margin: 0 auto;
}

.todo-list-container h1 {
  text-align: center;
  margin: 0;
  font-size: 80px;
  color: #b83f45;
  font-family: sans-serif;
  font-weight: 300;
}

.add-todo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-todo input {
  margin-top: 15px;
  padding: 16px 16px 16px 60px;
  width: 100%;
  font-style: italic;
  font-size: 24px;
  font-weight: inherit;
  color: inherit;
  border: 1px solid white;
  border-radius: 0px;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 4px 8px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 4px 8px 3px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 4px 8px 3px rgba(34, 60, 80, 0.2);
}

.add-todo input:focus {
	outline: #b83f45;
	border-color: #b83f45;
}

.todo-list {
  list-style: none;
  font-family: sans-serif;
	font-size: 24px;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.todo-list li.completed span {
  text-decoration: line-through;
}

.todo-list li button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.view {
	display: flex;
	width: 100%;
	align-items: center;
}

.todo-list input {
	margin-right: 20px;
	width: 1.8em;
  height: 1.8em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.todo-list input:checked {
	background-color: #b83f45;
}

.todo-list img {
	margin-left: auto;
	width: 1em;
  height: 1em;
}

.todo-list img:hover {
	cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.buttons {
	display: flex;
	justify-content: space-between;
	font-family: sans-serif;
	font-size: 15px;
}

.buttons button {
	text-decoration: none;
	background-color: snow;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filter-btn:hover {
	border: 1px solid #b83f45 !important;
  border-radius: 3px !important;
}

.filter-btn:focus {
	border: 1px solid #b83f45 !important;
  border-radius: 3px !important;
}

.other-btn:hover {
	text-decoration: underline !important;
}

.buttons button:hover {
	cursor: pointer;
}